@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', 'Montserrat', sans-serif;
}

h1 {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 40px;
}

section {
    margin: 0 auto;
    text-align: center;
    width: 85%;
}

article {
    width: 25%;
    display: inline-block;
    text-align: left;
    margin: 25px;
}

article h3 {
    text-transform: uppercase;
    margin: 20px 0;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

article p {
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.bull {
    color: #EAE8E8;
    padding: 5px;
}

p {
    color: #979699;
    font-weight: bold;
}

span {
    color: #1D3AB0;
    font-size: 20px;
    font-weight: bold;
}